@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+VIC:wght@100..400&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(227, 161, 222);
  background: linear-gradient(90deg, rgba(227, 161, 222, 1) 21%, rgba(124, 37, 153, 1) 78%, rgba(83, 2, 137, 1) 94%);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  background: #e0aadc;
  font-family: "Playfair Display", serif;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.iniciar, .pausar, .zerar {
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  font-family: "Playfair Display", serif;
  
}
.iniciar:hover, .pausar:hover, .zerar:hover{
  background-color: rgb(190, 190, 175);
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.relogio {
  font-size: 3em;
}

.pausado {
  color: red;
}